<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>donggeIcloudDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2F418E211CCCA898004713F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F418E3D1CCCA898004713F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F418E481CCCA899004713F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
